<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>File Uploader</title>
</head>
<body>
<a href="/log-out">Log out</a>
<h1>Hello <%=user.username%></h1>
<div>
<button id="add-folder-btn">Add Folder</button>
    <ul class="folder-list">
        <% if(folders.length > 0 ){ %>
        <% folders.forEach((folder)=>{ %>
            <li class="folder-list-item">
                <h3 class="folder-list-item-title" data-folder-id="<%= folder.id %>"><%= folder.folderName %></h3>
                <button class="delete-folder-btn" data-folder-id="<%= folder.id %>">Delete</button>
                <button class="edit-folder-btn" data-folder-id="<%= folder.id %>"> Edit </button>
                <button class="share-folder-btn" data-folder-id="<%= folder.id %>">Share</button>
            </li>
        <% }) %>
<% } %>
    </ul>
</div>
<div id="page-content"></div>
<%- include("components/folderForm.ejs")%>
</body>
</html>